# Thank you to @FabulouslyOptimized for this GitHub Workflow!
name: Automatically publish to Modrinth
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  publish-to-modrinth:
    if: github.repository_owner == 'FormunaGit'
    runs-on: ubuntu-24.04
    environment: github-actions
    permissions:
      id-token: write
      attestations: write
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Download packwiz
        uses: "valitydev/action-download-file@v1"
        with:
          url: https://nightly.link/packwiz/packwiz/workflows/go/main/Linux%2064-bit%20x86.zip
          target-path: .

      - name: Unzip packwiz
        run: unzip -o Linux\ 64-bit\ x86.zip

      - name: Remove zip file & make executable
        run: rm Linux\ 64-bit\ x86.zip && chmod +x ./packwiz

      - name: Export to mrpack
        run: ./packwiz modrinth export -o Jurodedu-${{ github.ref_name }}.mrpack

      - name: Publish to Modrinth
          uses: Kir-Antipov/mc-publish@v3.3
          with:
            name: 
            modrinth-id: bpR2nFes
            modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
            modrinth-unfeature-mode: subset
            files: |
              Jurodedu-${{ github.ref_name }}.mrpack
            loaders: fabric
            game-versions: ${{ vars.MC_VERSION }}

      - name: Upload to Github
        uses: Shopify/upload-to-release@v2.0.0
        with:
          name: Jurodedu-${{ github.ref_name }}.mrpack
          path: Jurodedu-${{ github.ref_name }}.mrpack
          repo-token: ${{ secrets.GITHUB_TOKEN }}
